<nav class="navbar fixed-top navbar-expand-lg bg-body-primary">
  <div class="container-fluid">
    <button class="navbar-toggler custom-navbar-toggler-icon" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand">ADMINISTRADOR</a>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body px-0">
        <ul class="navbar-nav justify-content-end flex-grow-1 ">
          <li class="nav-item">
            <a class="nav-link ms-4 active" aria-current="page" routerLink="./homeadmin" data-bs-dismiss="offcanvas"> <i
                class="fs-5 bi-house"></i><span class="ms-2">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-4" routerLink="./veragremiado" data-bs-dismiss="offcanvas"><i
                class="fs-5 bi-person-vcard"></i><span class="ms-2">Ver Agremiado</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-4" routerLink="./agremiado" data-bs-dismiss="offcanvas"><i
                class="fs-5 bi-people"></i><span class="ms-2">Agregar Agremiado</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-4" routerLink="./solicitud" data-bs-dismiss="offcanvas">
              <i class="fa-solid fa-user"></i><span class="ms-2">Ver Solicitud</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-4" routerLink="confirmarAlert()" (click)="confirmarAlert()" data-bs-dismiss="offcanvas">
              <i class="bi-box-arrow-left"></i><span class="ms-2">Cerrar Sesión</span> </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link ms-4" routerLink="./administrators" data-bs-dismiss="offcanvas"><i
                class="fs-5 bi-person-gear"></i><span class="ms-2">Ver aviso</span> </a>
          </li> -->

        </ul>

      </div>
    </div>
  </div>
</nav>

<br> <br> <br>


<div class="container-fluid">
  <router-outlet> </router-outlet>
</div>

<nav class="navbar fixed-bottom">
  <div class="container-fluid">
    <p class="text-center">Desarrollado por Osmel Mendez</p>
    <a class="navbar-brand" href="https://github.com/OsmelMdz">Git Hub</a>
  </div>
</nav>

