<div class="row ">
    <h2 class="alinearc">BIENVENIDO ADMINISTRADOR</h2>
    <img src="assets/img/utvco.png"
          style="height: auto; width: 18rem; margin-left: auto; margin-right: auto; text-align: center;" alt="Logo">
</div>
<div class="section-body">
   <!----<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="container mt-5">
                        <div class="row">

                            <div class="col-md-4 mb-4">
                                <a routerLink="veragremiado" class="text-decoration-none">
                                    <div class="card bg-secondary">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todos los agremiados">Agremiados</h1>
                                                <h1 class="text-center text-white"><i class="fs-8 bi-person-vcard"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 mb-4">
                                <a routerLink="agremiado" class="text-decoration-none">
                                    <div class="card bg-primary">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para agregar agremiados">Agregar Agremiado</h1>
                                                <h1 class="text-center text-white"><i class="fs-8 bi-people"></i></h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 mb-4">
                                <a routerLink="solicitud" class="text-decoration-none">
                                    <div class="card bg-primary">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todos las solicitud">Solicitud</h1>
                                                <h1 class="text-center text-white"><i class="fa-solid fa-list"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 mb-4">
                                <a routerLink="./registrarusuario" class="text-decoration-none">
                                    <div class="card bg-info">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para enviar aviso">Enviar Aviso</h1>
                                                <h1 class="text-center text-white"><i class="fas fa-fw fa-add"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>


            </div>


        </div>

    </div>-->


</div>
