<nav class="navbar navbar-expand-lg nav">
  <ul class="nav ">
    <li class="nav-item navigation2">
      <button (click)="confirmarAlert()">Cerrar sesión</button>
    </li>
  </ul>
</nav>
<div class="container">
  <section>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4" *ngFor="let agremiado of agremiados">
            <div class="card-body text-center">
              <!-- Avatar -->
              <img *ngIf="agremiado.sexo === 'Hombre' " src="../../assets/img/hombre.png" alt="Avatar Hombre"
                class="rounded-circle img-fluid" style="width: 150px;">
              <img *ngIf="agremiado.sexo === 'Mujer' " src="../../assets/img/mujer.png" alt="Avatar Mujer"
                class="rounded-circle img-fluid" style="width: 150px;">
              <!-- Información del agremiado -->
              <div class="mt-3">
                <h2>{{agremiado.nombre}}</h2>
                <p class="text-muted mb-2"><strong>Apellidos:</strong> {{agremiado.a_paterno + ' ' +
                  agremiado.a_materno}}</p>
                <p class="text-muted mb-2"><strong>Sexo:</strong> {{agremiado.sexo}}</p>
                <p class="text-muted mb-2"><strong>Telefono:</strong> {{agremiado.telefono}}</p>
                <p class="text-muted mb-2"><strong>NSS:</strong> {{agremiado.NSS}}</p>
                <p class="text-muted mb-2"><strong>NUP:</strong> {{agremiado.NUP}}</p>
                <p class="text-muted mb-2"><strong>NUE:</strong> {{agremiado.NUE}}</p>
                <p class="text-muted mb-2"><strong>RFC:</strong> {{agremiado.RFC}}</p>
                <p class="text-muted mb-2"><strong>Fecha de Nacimiento:</strong> {{agremiado.fecha_nacimiento}}</p>
                <p class="text-muted mb-2"><strong>Cuota:</strong> {{agremiado.cuota}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                  <form (ngSubmit)="agregarSolicitud()" #solicitudForm="ngForm">
                    <div class="row align-items-center pt-4 pb-3">
                      <div class="col-md-3 ps-5">
                        <h2 class="mb-0">NUE</h2>
                      </div>
                      <div class="col-md-9 pe-5">
                        <input type="text" class="form-control form-control-lg" name="NUE"
                          [(ngModel)]="nuevaSolicitud.NUE" required />
                      </div>
                    </div>
                    <hr class="mx-n3">
                    <div class="row align-items-center py-3">
                      <div class="col-md-3 ps-5">
                        <h2 class="mb-0">Ruta del Archivo</h2>
                      </div>
                      <div class="col-md-9 pe-5">
                        <input type="file" class="form-control form-control-lg" id="formFileLg"
                          (change)="onFileSelected($event)" accept=".pdf, .doc, .docx, .jpg, .jpeg, .png" required />
                        <div class="small text-muted mt-2">Subir cualquier archivo de tipo pdf, doc, docx, jpg, jpeg,
                          png. Archivo máximo tamaño 50 MB</div>
                      </div>
                    </div>
                    <hr class="mx-n3">
                    <div class="px-5 py-4">
                      <button type="submit" class="btn btn-primary btn-lg">Guardar Archivo</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
