.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .navigation button {
    margin: 0 10px;
    background-color: #015027;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .navigation button:hover {
    background-color: #83da89;
    color: #2b0b0b;
  }

  .login-form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #ccc;
    padding: 20px;
    max-width: auto;
    text-align: center;
  }

  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 3px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="submit"] {
    background-color: #015027;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button[type="submit"]:hover {
    background-color: #83da89;
    color: #2b0b0b;
  }

