
  <ul class="nav navbar-expand-lg justify-content-center">
    <li class="nav-item me-2">
      <button type="button" class="btn btn-primary">Formatos</button>
    </li>
    <li class="nav-item me-2">
      <button type="button" class="btn btn-primary">Convocatorias</button>
    </li>
    <li class="nav-item me-2">
      <button type="button" class="btn btn-primary">Convenios</button>
    </li>
  </ul>
<br><br><br>
  <div class="card text-center">
    <form>
      <div class="mb-3">
          <img src="./assets/img/utvco.png" class="imagen" alt="Logo">

              <h1>Iniciar Sesión</h1>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
  </div>
